/* --- Reset Styles --- */
* {
	list-style: none;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	/* --- Variables --- */
	--main-text: #333;
	--red: #f9595a;
	--yellow: #f8d071;
	--green: #48ab82;
	--turquoise: #147178;
	--white: #ffffff;
	--off-white: #fdfdea;
	--transparent-black: #000000ab;
	--side-spacing: 2.25%;

	color: var(--main-text);
	background-color: var(--off-white);
	font-family: 'Josefin Sans', sans-serif;
	line-height: 18px;
	position: relative;
	max-height: 80vh;
}

.content-wrapper {
	padding:  var(--side-spacing);
}

h1 {
	font-size: 36px;
	line-height: 54px;
	font-family: 'Press Start 2P', cursive;
}

h2 {
	border-bottom: 2px solid #ccc;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 16px;
}

h3 {
	font-size: 18px;
	line-height: 36px;
}

p {
	margin-bottom: 18px;
}

/* --- Navigation */

nav {
	background-color: var(--red);
	padding: var(--side-spacing);
	color: var(--white);
	font-size: 1.2rem;
}

nav a {
	color: var(--white);
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	color: var(--yellow);
	text-decoration: underline;
}